.Signing {
  display: flex;
  align-items: center;
  height: 100%;
}
.Signing button {
  background: black;
  width: auto;
  margin: 0 5px;
  height: 60px;
  border: 0;
  color: white;
  outline-color: #d8b093;
  font-size: 12px;
}
.Signing button:hover {
  cursor: pointer;
}
.Signing button:nth-child(2) {
  background: #d8b093;
}
