.Logo {
    background-color: white;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid red;
    p {
      display: block;
      border: 1px solid blue;
    }
}

.Logo img {
    height: 32px;
    width: 58px;
    border: 1px solid black;
}
