.Logo {
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 8px;
    width: 150px;
    margin-top: 50px;
}

.Logo img {
    height: 32px;
    width: 58px;
}
