.Navigation {
  padding: 20px 0;
  margin-right: 130px;
  ul {
    display: flex;
    li:first-of-type {
    position: relative;
      &::before {
        content: "◆";
        color: #d8b093;
        font-size: 12px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    li a {
      color: black;
      display: block;
      font-size: 19px;
      padding: 10px 14px;
      text-decoration: none;
      transition: color 0.25s;
      &:hover {
        color: #d8b093;
      }
    }
  }
}
