$mainBtnColor: #383838;
$secondFontColor: #d8b093;
$PriceName: #CF8E67;

.Product {
    position: relative;
    border: 1px solid $mainBtnColor;
    display: flex;
    margin: 15px;
    flex-flow: column wrap;
    figure {
        margin-bottom: 15px;
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-width: 100%;
            max-height: 250px;
            // height: auto;
        }
    }

    h5 {
        padding-left: 10px;
        color: $PriceName;
        text-align: left;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
    }
    .Price {
        padding: 0 0 10px 10px;
        color: $mainBtnColor;
        font-size: 16px;
    }
    &:hover .More {
        bottom: 25%;
        opacity: 1;
    }
}

.More {
    color: $mainBtnColor;
    left: 25%;
    bottom: 0;
    opacity: 0;
    width: 50%;
    height: 50px;
    position: absolute;
    background-color: $secondFontColor;
    align-items: center;
    display: flex;
    justify-content: center;
    transition:all 0.5s;
    border: 1px solid $mainBtnColor;
}