.Input {
  width: 200px;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  font-size: 22px;
  color: #ffffff;
  text-align: left;
}

.InputElement {
  background-color: #ccc;
  box-shadow: 0px -6px 8.82px 0.18px rgba(11, 13, 14, 0.18);
  width: 381px;
  height: 30px;
  padding: 10px;
  font-size: 16px;
  &::placeholder {
    background-color: #ccc;
  }
}

.Invalid {
  border: 1px solid red;
  background-color: #d8b093;
  &::placeholder {
    background-color: #d8b093;
  }
}

.ErrorMsg {
  height: 16px;
  opacity: 1;
  color: red;
  margin-top: 10px;
  text-align: left;
}
