//colors
$mainBtnColor: #383838;
$secondFontColor: #d8b093;

.BtnSearch {
  border: 1px solid transparent;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $mainBtnColor;
  padding: 6px 12px;
  color: white;
  font-size: 14px;
  margin: 0 20px;
  &:focus {
    outline-color: $secondFontColor;
  }
  &:hover {
      cursor: pointer;
  }
  span {
    color: white;
  }
}
