$mainBtnColor: #383838;
$secondFontColor: #d8b093;

.Signing {
  display: flex;
  .SignIn, .SignUp {
    color: white;
  }
  .SignIn {
    border: 1px solid transparent;
    background: black;
  }
  .SignUp {
    border: 1px solid transparent;
  }
}
